*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Roboto, sans-serif;
}

body {
    background-color: rgb(189, 237, 100, 0.5);
    /* width: 100vw; */
    height: 100vh;
    
}

.red {
    background-color: rgba(245, 156, 124, 1);
    /* text-decoration: underline; */
    color: rgb(255, 255, 255);
    
}

.container {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px 10px;
}

@media (min-width: 700px) {
    .container {
        width: 730px;
    }
}


#textToWrite{
    font-size: 25px;
    /* margin: 1rem 0;
    padding: 3px 0px; */
}



#result {
    font-size: 5rem;
    margin-bottom: 1rem;
}
button {
    padding: 4px 25px;
    font-size: 18px;
    background-color: rgba(245, 156, 124, 0.5);
    border: 1px solid grey;
    border-radius: 2px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(245, 156, 124, 1);
}


#velocity {
    font-size: 25px;
    display: none;
}

.title {
    padding-top: 3%;
    font-size: 3rem;
    height: 10%;
}

#score {
    margin-bottom: 1rem;
}